/* Resetting default margin and padding for the entire page */
body {
    margin: 0;
    padding: 0;
    font-family: Bodoni MT, Arial;
    height: 100vw;
    background-color: rgb(228, 228, 228);
    overflow-x: hidden;
}

/* Removing underline from links and inheriting color */
a {
    text-decoration: none;
    color: inherit;
}

/* Header styling */
.header {
    background: linear-gradient(rgba(255, 0, 0, 0), rgba(3, 12, 26, 0.774)), url(img/Album_-scaled.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    user-select: none;
    height: 760px;
    display: flex;
}

/* Styling for text inside header */
.header p {
    color: rgba(228, 228, 228, 0.788);
    margin: 0;
    padding: 0%;
    font-size: 20vw;
    transition: color 0.5s;
}

.header p:hover {
    color: rgb(228, 228, 228);
}

/* Styling for panels */
.panel {
    display: flex;
    position: absolute;
    bottom: 0vw;
}

.panel2 {
    display: flex;
    position: absolute;
    bottom: 5vw;
    right: 0vw;
}

/* Styling for span elements */
span {
    display: block;
    font-size: 1.5vw;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 4%;
}

span:active {
    color: black;
}

span:hover {
    background-color: rgb(214, 214, 214);
    color: rgba(46, 46, 46, 0.849);
}

/* Styling for panel2 paragraphs */
.panel2 p {
    font-size: 2vw;
    text-decoration: none;
    padding-right: 1vw;
    display: block;
    cursor: pointer;
    transition: color 0.5s;
}

.panel2 p:hover {
    color: rgb(247, 247, 247);
}

/* Styling for dropdown */
.dropdown {
    position: relative;
}

/* Styling for contact */
.contact {
    position: relative;
}

/* Styling for menu */
#menu {
    position: absolute;
    pointer-events: none;
    left: 0;
    width: 5vw;
    color: rgba(36, 36, 36, 0.76);
    background-color: rgb(236, 236, 236);
    top: calc(100% + .25rem);
    padding: .25rem;
    border-radius: .25rem;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.233);
    opacity: 0;
    transform: translateY(-10px);
    transition: all 700 ms ease-in-out;
}

/* Container styling */
.cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Info1 styling */
.info1 {
    color: rgb(11, 17, 26);
    display: flex;
    flex: 1.5;
    flex-direction: column;
    justify-content: left;
    padding-top: 15%;
    font-family: 'Poppins', sans-serif;
    font-size: 7vw;
    cursor: pointer;
    margin: 0;
    transition: all 0.1s;
}

.info1:hover {
    color: rgb(95, 104, 104);
}

/* Container styling */
#container {
    position: relative;
    justify-content: space-between;
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    width: 1fr;
    height: 20vw;
}

/* Canvas styling */
#canvas {
    width: 100%;
    height: 100%;
    padding-bottom: 12vw;
}

/* Info1 paragraph styling */
.info1 p {
    display: flex;
    flex: 1;
    padding-top: 0%;
    margin-top: 0%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 0%;
    z-index: 30;
}

/* Subtext styling */
#subtext {
    display: flex;
    font-size: 2vw;
    padding-top: 0%;
    margin-top: 0%;
    transition: all 1s;
}

/* Reduced motion styling for hide class */
@media (prefers-reduced-motion) {
    .hide {
        transition: none;
    }
}

/* Hide class styling */
.hide {
    margin-top: 0;
    padding-top: 0;
    opacity: 0;
    filter: blur(5 px);
    transform: translateY(+50%);
    transition: all 1s;
}

/* Show class styling */
.show {
    filter: blur(0 px);
    opacity: 1;
    transform: translateY(0);
}

/* Footer styling */
.footer {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    height: 15%;
    width: 100%;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 9000;
    color: rgb(177, 177, 177);
    background: rgb(11, 17, 26);
    font-size: 1vw;
    justify-content: right;
    transition: all 0.25s;
}

/* Footer link styling */
.footer a {
    text-decoration: none;
    color: inherit;
}

/* Footer paragraph styling */
.footer p {
    margin-right: 0.7%;
}

/* Words transition styling */
#words {
    transition: all 0.24s;
}

/* Media query for screens with max-width of 600px */
@media screen and (max-width: 600px) {
    .header {
        height: 105vw;
    }

    .footer {
        font-weight: 500;
        height: 6%;
        font-size: small;
        width: 100%;
    }

    /* Scaling for body on small screens */
    .body {
        transform: scale(1.2);
    }

    /* Panel2 paragraph styling for small screens */
    .panel2 p {
        font-size: 4vw;
        padding-right: 1vw;
        display: block;
    }

    /* Span styling for small screens */
    span {
        font-size: 3vw;
    }

    /* Menu styling for small screens */
    #menu {
        width: 10vw;
    }

    /* Canvas styling for small screens */
    #canvas {
        padding-bottom: 1vw;
    }
}
