div {
    border-radius: 2%;
    border: 5px solid rgb(34, 34, 34);
    margin: auto;
    width: 40%;
    height: 40%;
    margin-top: 5%;
    padding: 10px 10px;
    background-color: rgba(255, 197, 150, 0.753);
    font-family: 'Poppins';
    color: rgb(32, 32, 32);
    font-weight: 600;
    font-size: 100%;
}

input {
    font-family: 'Poppins';
}

button {
    font-family: 'Poppins';
}

textarea {
    font-family: 'Poppins';
}

body {
    background: url(img/1313746.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    overflow: hidden;
}

.footer {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    height: 7%;
    width: 100%;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 9000;
    color: rgb(211, 158, 116);
    background: rgb(25, 25, 26);
    font-size: 1vw;
    justify-content: right;
    transition: all 0.25s;
}

@media only screen and (max-width: 600px) {
    div {
        padding: 10px;
    }
    
    div input,
    div textarea,
    div button {
        padding: 10px;
    }
    
    .footer {
        font-weight: 500;
        height: 6%;
        font-size: small;
        width: 100%;
    }
}
