/* Resetting default margin, padding, and font for the body */
body {
    margin: 0;
    padding: 0;
    font-family: Bodoni MT, Arial;
    height: 100vw;
    background-color: rgb(255, 244, 244);
    overflow-x: hidden;
    user-select: none;
}

/* Styling links to remove underlines and inherit color */
a {
    text-decoration: none;
    color: inherit;
}

/* Header styling with a linear gradient background and an image */
.header {
    background: linear-gradient(rgba(255, 0, 0, 0), rgba(32, 0, 19, 0.603)), url(img/pxfuel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 760px;
    display: flex;
    user-select: none;
}

/* Styling for text inside the header with hover effect */
.header p {
    color: rgba(202, 185, 223, 0.788);
    margin: 0;
    padding: 0%;
    font-size: 20vw;
    transition: color 0.5s;
}

.header p:hover {
    color: rgb(239, 233, 253);
}

/* Styling for bottom panels and their content */
.panel {
    display: flex;
    position: absolute;
    bottom: 0vw;
}

.panel2 {
    display: flex;
    position: absolute;
    bottom: 5vw;
    right: 0vw;
}

/* Styling for clickable spans with hover and active effects */
span {
    display: block;
    font-size: 1.5vw;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 4%;
}

span:active {
    color: black;
}

span:hover {
    background-color: rgb(235, 154, 222);
    color: rgba(32, 27, 30, 0.849);
}

/* Styling for second panel's paragraphs with hover effect */
.panel2 p {
    font-size: 2vw;
    text-decoration: none;
    padding-right: 1vw;
    display: block;
    cursor: pointer;
    transition: color 0.5s;
}

.panel2 p:hover {
    color: rgb(253, 233, 246);
}

/* Styling for dropdown menu */
.dropdown {
    position: relative;
}

/* Styling for contact section */
.contact {
    position: relative;
}

/* Styling for menu with animation effects */
#menu {
    position: absolute;
    pointer-events: none;
    left: 0;
    width: 5vw;
    color: rgba(41, 36, 32, 0.76);
    background-color: rgb(255, 205, 218);
    top: calc(100% + .25rem);
    padding: .25rem;
    border-radius: .25rem;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.233);
    opacity: 0;
    transform: translateY(-10px);
    transition: all 700ms ease-in-out;
}

/* Container styling for flex layout */
.cont {
    display: flex;
    flex-direction: row;
}

/* Styling for info pictures with flex layout */
#infopics {
    display: flex;
    padding-top: 15%;
    padding-left: 2%;
    flex: 2;
}

/* Styling for images inside #infopics with border-radius */
#infopics img {
    object-fit: cover;
    object-position: center center;
    position: relative;
    width: 50vw;
    height: 30vw;
    border-radius: 5%;
}

/* Styling for the first info section with Poppins font */
.info1 {
    color: rgb(11, 17, 26);
    display: flex;
    flex: 1.5;
    flex-direction: column;
    justify-content: left;
    padding-top: 15%;
    padding-bottom: 5vw;
    font-family: 'Poppins', sans-serif;
    font-size: 7vw;
    margin: 0;
}

/* Styling for the parent section with a relative position */
.parent {
    position: relative;
    bottom: -45vw;
    padding-bottom: 10%;
}

/* Styling for the second info section with absolute positioning */
#info2 {
    user-select: none;
    color: rgb(11, 17, 26);
    display: flex;
    overflow-x: hidden;
    gap: 4vmin;
    flex-direction: row;
    position: absolute;
    padding-bottom: 10%;
    left: 50%;
    bottom: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 7vw;
    margin: 0;
}

/* Styling for images inside #info2 with border-radius and object-fit */
#info2 > .image {
    width: 40vmin;
    border-radius: 5%;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
}

/* Styling for paragraphs inside the first info section */
.info1 p {
    display: flex;
    flex: 1;
    padding-top: 0%;
    margin-top: 0%;
    padding-left: 5%;
    margin-bottom: 0%;
    z-index: 30;
}

/* Styling for the subtext with a font size transition */
#subtext {
    display: flex;
    font-size: 2vw;
    padding-top: 0%;
    margin-top: 0%;
    transition: all 1s;
}

/* Media query for reduced motion */
@media (prefers-reduced-motion) {
    .hide {
        transition: none;
    }
}

/* Styling for hidden elements with opacity, blur, and translateY transitions */
.hide {
    margin-top: 0;
    padding-top: 0;
    opacity: 0;
    filter: blur(5px);
    transform: translateY(+50%);
    transition: all 1s;
}

/* Styling for visible elements with blur, opacity, and translateY transitions */
.show {
    filter: blur(0px);
    opacity: 1;
    transform: translateY(0);
}

/* Styling for the footer with fixed position and color transition */
.footer {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    height: 15%;
    width: 100%;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 9000;
    color: rgb(162, 141, 190);
    background: rgb(11, 17, 26);
    font-size: 1vw;
    justify-content: right;
    transition: all 0.25s;
}

/* Styling for links inside the footer */
.footer a {
    text-decoration: none;
    color: inherit;
}

/* Styling for paragraphs inside the footer with margin */
.footer p {
    margin-top: 0.7%;
    margin-right: 0.7%;
}

/* Styling for words with a transition effect */
#words {
    transition: all 0.24s;
}

/* Media query for small screens (max-width: 600px) */
@media only screen and (max-width: 600px) {
    /* Adjusting header height for smaller screens */
    .header {
        height: 105vw;
    }

    /* Adjusting font size of header text for smaller screens */
    .header p {
        font-size: 15vw;
    }

    /* Adjusting position of the first panel for smaller screens */
    .panel {
        bottom: 2vw;
    }

    /* Styling for the footer on smaller screens */
    .footer {
        font-weight: 500;
        height: 6%;
        font-size: small;
        width: 100%;
    }

    /* Transforming the body for smaller screens */
    .body {
        transform: scale(1.2);
    }

    /* Adjusting position of the parent section for smaller screens */
    .parent {
        bottom: -70vw;
    }

    /* Adjusting padding-bottom of #info2 for smaller screens */
    #info2 {
        padding-bottom: 20%;
    }

    /* Adjusting font size of panel2 paragraphs and spans for smaller screens */
    .panel2 p {
        font-size: 4vw;
        padding-right: 1vw;
        display: block;
    }

    span {
        font-size: 3vw;
    }

    /* Adjusting width of #menu for smaller screens */
    #menu {
        width: 10vw;
    }
}

/* Media query for medium-sized screens (between 1180px and 1450px) */
@media only screen and (min-width: 1180px) and (max-width: 1450px) {
    /* Adjusting position of the parent section for medium-sized screens */
    .parent {
        bottom: -42vw;
    }

    /* Adjusting padding-bottom of #info2 for medium-sized screens */
    #info2 {
        padding-bottom: 12%;
    }
}

/* Media query for large screens (min-width: 1451px) */
@media only screen and (min-width: 1451px) {
    /* Adjusting position of the parent section for large screens */
    .parent {
        bottom: -40vw;
    }

    /* Adjusting padding-bottom of #info2 for large screens */
    #info2 {
        padding-bottom: 8%;
    }
}

/* Media query for screens between 601px and 1179px */
@media (max-width: 1179px) and (min-width: 601px) {
    /* Adjusting position of the parent section for screens between 601px and 1179px */
    .parent {
        bottom: -60vw;
    }

    /* Adjusting padding-bottom of #info2 for screens between 601px and 1179px */
    #info2 {
        padding-bottom: 15%;
    }
}
